In [1]:
def add(x,y):
    add = x+y
    return add
op_xy = add(23,58)
print(op_xy)

81

In [2]:
def add(*args):
    for i in args:
        print(i)
add(23,582,96,58)

23
582
96
58

In [3]:
def add(*args):
    s = 0
    for i in args:
        s = s+i
    return s
sum_args = add(6584,582,985,5)
print(sum_args)

8156

In [4]:
sum_a1 = add(25)
print(sum_a1)

25

In [5]:
def multiply(x,*args):
    p = 1
    for i in args:
        p = p + i
    return f"product performed by {x} is {p}"
m1 = multiply("kshitij",2,65,6,8)
m1

'product performed by kshitij is 82'

In [6]:
def multiply_2(x,*args):
    p = 1
    for i in args:
        p = p+i
    welcome = f"Welcome {x}"
    return f"{welcome} : product of the provided data is {p}"
m2 = multiply_2("Kshitij ",5,6,8,52,5)
m2

'Welcome Kshitij  : product of the provided data is 77'

Scenario: I have lists of data ready with me. I want to add a value to each list(append)
emp_data_1 = [101,"Raman"]
emp_data_2 = [102,"Suman"]

These 2 employees are working for "IT" department.
Write a Function that takes lists as input and appends department details to both the lists

In [7]:
def appenddata(dept,*lists):
    """
    Takes multiple lists as inputs and appends dept data to each list
    """
    for l in lists:
        l.append(dept)

In [8]:
emp_data_1 = [101,"Ramesh"]
emp_data_2 = [102,"Thaman"]

In [9]:
appenddata("IT",emp_data_1,emp_data_2)

In [10]:
emp_data_1

[101, 'Ramesh', 'IT']

In [11]:
emp_data_2

[102, 'Thaman', 'IT']

Keyword Arguments

In [12]:
def func1(**kwargs):
    print(type(kwargs))

In [13]:
func1(id=101)

<class 'dict'>

In [14]:
dct = {

    "id" : 101
}

In [15]:
type(dct)

dict

In [16]:
dct.keys()

dict_keys(['id'])

In [17]:
dct.values()

dict_values([101])

In [18]:
dct.items()

dict_items([('id', 101)])

In [19]:
def func1(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [20]:
func1(id=101,name="Raman",salary=35000)

<class 'dict'>
dict_items([('id', 101), ('name', 'Raman'), ('salary', 35000)])

In [21]:
func1(id=202,name="Suman")

<class 'dict'>
dict_items([('id', 202), ('name', 'Suman')])

In [22]:
emp_data_1

[101, 'Ramesh', 'IT']

In [23]:
emp_data_2

[102, 'Thaman', 'IT']

In [24]:
emp_data_3 = [103,"Suman","HR",35000,"Suman@gmail.com"]

In [25]:
def data_lengths(**kwargs):
    dct = {}
    for key,value in kwargs.items():
        dct[key] = len(value)
        # **kwargs: emp1=emp_data_1,emp2=emp_data_2,emp3=emp_data_3
        #1 key=emp1,value=emp_data_1
        # dct[emp1]=len(emp_data_1)
        # this process will repeat 3times
    return dct # dct[emp1]=3,dct[emp2]=3,dct[emp3]=5 
    # {emp1:3,emp2:3,emp3:5}

In [26]:
len_data = data_lengths(emp1=emp_data_1,emp2=emp_data_2,emp3=emp_data_3)

In [27]:
len_data

{'emp1': 3, 'emp2': 3, 'emp3': 5}

In [28]:
# If you are providing args and kwargs together, you must give args first
def count_args(*args,**kwargs):
    return (len(args),len(kwargs))

In [29]:
count_args(1,2,3,name="Baman")

(3, 1)

In [30]:
count_args(1,4,10,name="Baman",id=102,email="baman@gmail.com")

(3, 3)