In [ ]:
def add(a: int|float , b: int|float) ->int|float:
    c = a+b
    return c

In [3]:
add(1.5,10)

11.5

In [4]:
add(10,55.65)

65.65

In [5]:
# Try to add 3 numbers 

add(4,5,6,8)

TypeError: add() takes 2 positional arguments but 4 were given

In [6]:
# Creating Arguments inside a function
# *args - this willa ct as tuple and can take n numbers of arguments

In [7]:
def func(*a):
    print(a)
    print(type(a))
    for i in a:
        print(i)

In [8]:
s = func(1,2,3,5,8,9,5)
print(s)

(1, 2, 3, 5, 8, 9, 5)
<class 'tuple'>
1
2
3
5
8
9
5
None

In [9]:
p = func("Kshitij " , "PAtil" , "HR")
print(p)

('Kshitij ', 'PAtil', 'HR')
<class 'tuple'>
Kshitij
PAtil
HR
None

In [10]:
l = ["Example" , True , False , 12.5,5,100]
type(l)

list

In [11]:
func(*l)

('Example', True, False, 12.5, 5, 100)
<class 'tuple'>
Example
True
False
12.5
5
100

# Given the cart products of a coustomer perform total billing of products

In [19]:

c = [

("Laptop" , 50000 , 2),
("Mouse" , 1000 , 3),
("Keyboard" , 5000 , 5)
]

In [20]:
def billing(*args):
    # initialise billing
    total_bill = 0

    for name , price , qty in args:
        subtotal = price*qty
        total_bill = total_bill + subtotal
        print(f"His Sub Total is {subtotal} with price {price} and quantity {qty}")
        print(f"His Total Bill is {total_bill} with sub total {subtotal}")
        print("|n*************************************")

    print(f"Total Bill : {total_bill:.2f} INR")
    return total_bill

In [21]:
c

[('Laptop', 50000, 2), ('Mouse', 1000, 3), ('Keyboard', 5000, 5)]

In [22]:
t1 = billing(*c)

His Sub Total is 100000 with price 50000 and quantity 2
His Total Bill is 100000 with sub total 100000
|n*************************************
His Sub Total is 3000 with price 1000 and quantity 3
His Total Bill is 103000 with sub total 3000
|n*************************************
His Sub Total is 25000 with price 5000 and quantity 5
His Total Bill is 128000 with sub total 25000
|n*************************************
Total Bill : 128000.00 INR

In [25]:
print(t1)

128000

In [33]:
c2 = (

("Mobile" , 50000 , 2),
("Screen Guard" , 100 , 2),
("Phone Charger" , 600 , 1)
)


t2 = billing(*c2)

His Sub Total is 100000 with price 50000 and quantity 2
His Total Bill is 100000 with sub total 100000
|n*************************************
His Sub Total is 200 with price 100 and quantity 2
His Total Bill is 100200 with sub total 200
|n*************************************
His Sub Total is 600 with price 600 and quantity 1
His Total Bill is 100800 with sub total 600
|n*************************************
Total Bill : 100800.00 INR

In [35]:
c3 = [

("Play Station" , 65000 , 2),
("PC" , 40000 , 3),
("teddi" , 100 , 1)

]

t3 = billing(*c3)

His Sub Total is 130000 with price 65000 and quantity 2
His Total Bill is 130000 with sub total 130000
|n*************************************
His Sub Total is 120000 with price 40000 and quantity 3
His Total Bill is 250000 with sub total 120000
|n*************************************
His Sub Total is 100 with price 100 and quantity 1
His Total Bill is 250100 with sub total 100
|n*************************************
Total Bill : 250100.00 INR

# Flexibilty in Key word Arguments
**kwargs These acts like a dictionary in python

In [36]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key , value in kwargs.items():
        print(f"Key :{key} , value : {value}")

In [49]:
function(a=1, b=23, name="Rahul", married=False)

{'a': 1, 'b': 23, 'name': 'Rahul', 'married': False}
<class 'dict'>
Key :a , value : 1
Key :b , value : 23
Key :name , value : Rahul
Key :married , value : False

## Storing Information About Different users

In [50]:
# Storing Information about different users

In [55]:
def create_user(**kwargs):
    user = {
        "username":None,
        "args": None,
        "email": None

    }

    user.update(kwargs)
    return user

In [56]:
u1 = create_user(
username = "Kshitij",
age = 31

)

In [57]:
u1

{'username': 'Kshitij', 'args': None, 'email': None, 'age': 31}